## **Prubeas SQL BCP**

In [1]:
use bcp_risk

select * from dbo.[T.CLIENTES]

select * from dbo.[T.ENTIDADES]

SELECT * from dbo.[T_TRAMOS DE MORA]

IDC,CODENTIDAD,CODPRODUCTO,SALDO,DIAS MORA
1,00001,CEF,800.00,15
2,00002,TC,1200.00,16
3,00002,CEF,4500.00,86
4,00004,TC,3500.00,121
5,00001,VEN,65000.00,7
6,00003,CONVENIO,52400.00,53
7,00003,CEF,12000.00,61
8,00001,CONVENIO,7580.00,360

CODEENTIDAD,NOMBREENTIDAD
00001,BCP
00002,INTERBANK
00003,BBVA
00004,SCOTIABANK

TRAMO MORA,CLASIFICACION
0-8,NO
9-30,PP
31-60,DE
61-120,DU
>121,PE

## **1.	De la tabla T. CLIENTES obtener el máximo valor del campo DIAS_MORA. ¿Cuántos clientes tiene cada entidad?**

In [2]:
SELECT * FROM dbo.V_CLIENTES_ENTIDADES

CODENTIDAD,IDC,CODPRODUCTO,SALDO,DIAS MORA,NOMBREENTIDAD
00001,1,CEF,800.00,15,BCP
00002,2,TC,1200.00,16,INTERBANK
00002,3,CEF,4500.00,86,INTERBANK
00004,4,TC,3500.00,121,SCOTIABANK
00001,5,VEN,65000.00,7,BCP
00003,6,CONVENIO,52400.00,53,BBVA
00003,7,CEF,12000.00,61,BBVA
00001,8,CONVENIO,7580.00,360,BCP

In [3]:
SELECT NOMBREENTIDAD ,MAX([DIAS MORA]) AS 'Maximo de horas'
 FROM dbo.V_CLIENTES_ENTIDADES
GROUP BY NOMBREENTIDAD

NOMBREENTIDAD,Maximo de horas
BBVA,61
BCP,360
INTERBANK,86
SCOTIABANK,121

In [4]:
SELECT T.NOMBREENTIDAD, SUM(IDC) AS ' # CLIENTES' FROM dbo.V_CLIENTES_ENTIDADES AS T GROUP BY T.NOMBREENTIDAD

NOMBREENTIDAD,# CLIENTES
BBVA,13
BCP,14
INTERBANK,5
SCOTIABANK,4

## **2.	A partir de la tabla T. CLIENTES Y T. TRAMOS DE MORA construir el campo CLASIFICACION para cada cliente.**

In [5]:
SELECT 
    *,
    CASE 
        WHEN T.[DIAS MORA] BETWEEN 0 AND 8 THEN 'NO'
        WHEN T.[DIAS MORA]  BETWEEN 9 AND 30 THEN 'PP'
        WHEN T.[DIAS MORA]  BETWEEN 31 AND 60 THEN 'DE'
        WHEN T.[DIAS MORA]  BETWEEN 61 AND 120 THEN 'DU'
        ELSE 'PE'
    END AS Clasificacion
FROM 
    [dbo].[T.CLIENTES] AS T

IDC,CODENTIDAD,CODPRODUCTO,SALDO,DIAS MORA,Clasificacion
1,00001,CEF,800.00,15,PP
2,00002,TC,1200.00,16,PP
3,00002,CEF,4500.00,86,DU
4,00004,TC,3500.00,121,PE
5,00001,VEN,65000.00,7,NO
6,00003,CONVENIO,52400.00,53,DE
7,00003,CEF,12000.00,61,DU
8,00001,CONVENIO,7580.00,360,PE

## **3.	De la tabla T. CLIENTES, eliminar todos los registros con días de mora mayor al promedio de días de mora de toda la tabla.**

## **4.	Obtener el promedio de saldo de cada producto**

In [7]:
SELECT CODPRODUCTO, AVG(SALDO) AS 'Saldo Promedio' FROM dbo.[T.CLIENTES]
GROUP BY CODPRODUCTO

CODPRODUCTO,Saldo Promedio
CEF,5766.6666
CONVENIO,29990.00
TC,2350.00
VEN,65000.00